h1{
    text-align: center;
}
ul{
    list-style-type: none;
}

.yes_no{
    text-align: center;
}
.yes{
    color: rgb(16, 206, 16);
    border: double;
}
.no{
    color: rgb(223, 39, 39);
    border: dotted;
}
.color{
    color: deepskyblue;
    list-style-type: square;
    text-align: left;
}